/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*General Styles*/

html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #7A7C8B;
  font-size: 1em;
  line-height: normal;
}

ul, ol {
  list-style: none;
  font-weight: bold;
  font-size: 1.25em;
  padding: 0;
}

a {
  text-decoration: none;
  color: #7A7C8B;
}

a:hover {
  color: #DAB9A8;
}

h1, h2, h3, h4 {
  font-family: 'Source Code Pro', monospace;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  color: #DAB9A8;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 1.2em;
}

img {
  width: 100%;
}

.content-wrapper {
  width: 90%;
}

figure {
  width: 100%;
  border: solid 2px #DAB9A8;
  margin: 0;
}
/* ------------ MOBILE STYLES -------------*/

/*Header*/
header {
  display: flex;
  justify-content: center;
  align-items: center: center;
  flex-flow: row wrap;
  background-color: #F7F8FD;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center: center;
  flex-direction: column;
}

header #tag-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

header h3 {
  margin: 0;
  padding: 5px 0;
  font-size: 1.25em;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header nav ul li {
  padding: 0 10px;
}

header a {
  color: #DAB9A8;
}

header h2 {
  color: #7A7C8B;
}

/*Hero Area*/

.hero-area {
  background: url("../img/hero-img.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero-area h1 {
    font-size: 2.4em;
    margin: 0;
    color: #F7F8FD;
    margin-top: 10vh;
    padding-left: 10px;
}

.hero-area span {
  box-shadow: 0 0 0 10px rgba(122,124,139, 0.7);
  background-color: rgba(122,124,139, 0.7);
  box-decoration-break: clone;
  line-height: 2.2;
}


/*Work Section*/
#work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #F7F8FD;
}

#work .content-wrapper {
  padding: 25px 0 50px 0;
}

#work h2 {
  padding-top: 50px;
}


hr {
width: 40%;
margin-left: auto;
margin-right: auto;
height: 100px;
background-color:#666;
margin: 0;
}

.subtitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
  margin: 0;
}

.js-subtitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0 25px 0;
  margin: 0;
}

#rogue-pickings-text, #jubilee-austen-text, #unplugged-text {
  padding: 20px 0;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*About Section*/
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7A7C8B;
  color: #F7F8FD;
}

#about .content-wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#about figure {
  margin: 30px 0 20px 0;
  width: 75%;
}

/*Contact Section*/
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #F7F8FD;
}

#contact .content-wrapper {
  padding: 25px 0 50px 0;

}

#contact h2 {
  padding-top: 50px;
}

.hire-me, .social, .meet-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

#contact address p {
  font-style:normal;
}
#contact p {
  text-align: center;
}

#contact figure {
  width: 100%;
  margin: 20px 0;
}

#contact iframe {
  width: 100%;
}

.social-icons {
  padding: 20px 0;
}

.fab {
  color: #DAB9A8;
  font-size: 2.5em;
  padding: 0 10px;
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7A7C8B;
  color: #F7F8FD;
}

footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .language-feature {
  text-align: center;
}

footer a {
  color: #F7F8FD;
}

footer .far {
  padding-top: 20px;
  color: #DAB9A8;
  font-size: 2em;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Style adjustments for tablets */
  .content-wrapper {
    width: 80%;
  }

  .hero-area h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 1.7em;
  }

  ul, ol {
    font-size: 1.3em;
  }

  p {
    font-size: 1.3em;
  }

  #work figure {
    width: 80%;
  }

  #work h2 {
    width: 80%;
  }

  #about figure {
    width: 50%;
  }

  #contact figure {
    width: 80%;
  }

  #contact h2 {
    width: 80%;
  }

}

@media only screen and (min-width: 1200px) {
  /* Style adjustments for desktop */
  .content-wrapper {
    width: 90%;
  }


  header .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center: center;
    flex-flow: row wrap;
  }

  header h2 {
    color: #DAB9A8;
  }

  header nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;
      width: 40%;
  }

  header a {
    color: #7A7C8B
  }

.hero-area {
  height: 80vh;
}

  .hero-area h1 {
    font-size: 5em;
    width: 60%;
  }

  #work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

#work article {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 50px 0;
}

#rogue-pickings-text, #jubilee-austen-text, #unplugged-text, #work figure {
  width: 40%;
  padding: 0;
}

#rogue-pickings-text p, #jubilee-austen-text p, #unplugged-text p {
  margin-top: 0;
}


  #work h2 {
    padding-top: 50px;
  }

  #work a:hover {
    opacity: 0.3;
  }

hr {
  width: 100%;
}

  #about figure {
    width: 30%;
    margin: 50px 0;
  }

  #about-text {
    width: 80%;
  }

  #contact .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .hire-me, .social, .meet-me {
    width: 30%;
  }

  .social-icons .fab:hover {
    opacity: 0.3;
  }

  footer .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }

  footer .language-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }

  footer .far {
    padding: 0 20px;
  }

  footer .copyright {
    width: 40%;
  }

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
